<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!-- 配置Master的bean  -->
	<bean id="master01" class="spring.beans.Master">
		<property name="name" value="太上老君" />
		<!-- ref指向其它的id -->
		<property name="m1" ref="monster02" />
	</bean>
	
	<bean id="master02" class="spring.beans.Master">
		<property name="name" value="太上老君" />
		<!-- 含有内部bean，也就是bean嵌套另一个bean -->
		<property name="m1" >
			<bean class="spring.beans.Monster">
				<constructor-arg type="String" value="青牛怪"/>
				<constructor-arg type="Integer" value="1"/>
				<constructor-arg type="String" value="钢圈"/>
			</bean>
		</property>
	</bean>
	<!-- 增加scope配置，是多实例获得master03,而非默认的单例 -->
	<bean id="master03" class="spring.beans.Master" scope="prototype">
		<property name="name" value="杨逍" />
		<!-- 成员属性是一个Properties集合
			Properties集合是个特殊的Map，key，value都必须是字符串
		 -->
		<property name="pro" >
			<props>
				<prop key="s1">v1</prop>
				<prop key="s2">v2</prop>
			</props>
		</property>
	</bean>
	<!-- 用构造器方式配置bean 属性索引index -->
	<bean id="monster02" class="spring.beans.Monster">
		<constructor-arg index="0" value="白骨精"/>
		<constructor-arg index="1" value="0"/>
		<constructor-arg index="2" value="变化人"/>
	</bean>
	<!-- 用构造器方式配置bean 属性类型type-->
	<bean id="monster03" class="spring.beans.Monster">
		<constructor-arg type="String" value="白骨精"/>
		<constructor-arg type="Integer" value="1"/>
		<constructor-arg type="String" value="编号人"/>
	</bean>
	
	<!-- 使用p命名空间标签方式配置bean
		需要引入p的schema
		直接属性名的方式来配置
	 -->
	 <bean id="monster04" class="spring.beans.Monster"
	  p:id="2"
	  p:name="蜘蛛精"
	  p:skill="吐丝"
	  />
	  <!-- 配置有生命周期的bean 
	  	该bean有init方法，也有ico容器退出时调用的方法destory
	  	方法名可以自定义
	   -->
	  <bean id="cat1" class="spring.beans.Cat" 
	  init-method="init"
	  destroy-method="destroy">
	  	<property name="name" value="小花" />
	  </bean>
</beans>
