<?xml version="1.0" encoding="UTF-8"?>
<!--默认的编码是ISO-8859-1,可以修改为utf-8   
	注释中允许出现两个连续的横线（连字符-）
-->
<!--
 Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->


<!--这就是我的webapp应用的部署配置-->
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0"
  metadata-complete="true">

  <display-name>Welcome to Tomcat</display-name>
  <description>
     Welcome to Tomcat
  </description>

	<!--
	下面的<servlet>和<servlet-mapping>就是一个完整
	的servlet配置
	-->
	<servlet>
		<!--servlet程序名，任意-->
		<servlet-name>hello</servlet-name>
		<!--指明servlet的路径（包名+类名）-->
		<servlet-class>com.liu.Hello</servlet-class>
	</servlet>
	<servlet-mapping>
		<!--servlet程序名，任意-->
		<servlet-name>hello</servlet-name>
		<!--浏览器访问当前servlet的url,需要加上
		webapp文件夹的名字，这里就是myWebSite/liu
		-->
		<url-pattern>/liu</url-pattern>
	</servlet-mapping>

	<!--又一个java文件-->
	<servlet>
		<servlet-name>hellogen</servlet-name>
		<!--指明servlet的路径（包名+类名）-->
		<servlet-class>com.liu.HelloGen</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>hellogen</servlet-name>
		<!--浏览器访问当前servlet的url,需要加上
		webapp文件夹的名字，这里就是myWebSite/hellogen
		-->
		<url-pattern>/hellogen</url-pattern>
	</servlet-mapping>


	<!--又一个java文件,第三种实现Servlet的方式-->
	<servlet>
		<servlet-name>hellohttp</servlet-name>
		<!--指明servlet的路径（包名+类名）-->
		<servlet-class>com.liu.HelloHttp</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>hellohttp</servlet-name>
		<!--浏览器访问当前servlet的url,需要加上
		webapp文件夹的名字，这里就是myWebSite/hellogen
		-->
		<url-pattern>/hellohttp</url-pattern>
	</servlet-mapping>

</web-app>
